rocc.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="https://deloro.iit.academiaromana-is.ro/rocc" xmlns:rnc="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="ROCC"/>
  </start>
  <!-- Root element of the ROCC file. -->
  <define name="ROCC">
    <element name="ROCC">
      <oneOrMore>
        <ref name="pageCollection"/>
      </oneOrMore>
    </element>
  </define>
  <define name="pageCollection">
    <element name="pageCollection">
      <attribute name="id"/>
      <ref name="pageCollectionMetadata"/>
      <ref name="imagesOfPages"/>
      <optional>
        <ref name="segmentationOfImages"/>
      </optional>
      <optional>
        <ref name="textsOfPages"/>
      </optional>
      <ref name="letterAlignmentsImage2Text"/>
      <ref name="seqAlignmentsImage2Text"/>
    </element>
  </define>
  <define name="pageCollectionMetadata">
    <element name="pageCollectionMetadata">
      <attribute name="rocc_id"/>
      <attribute name="pageCollectionURL">
        <data type="anyURI"/>
      </attribute>
      <attribute name="title"/>
      <attribute name="shortTitle"/>
      <attribute name="language"/>
      <attribute name="metadataCreator">
        <data type="anyURI"/>
      </attribute>
      <attribute name="distribution">
        <data type="anyURI"/>
      </attribute>
      <ref name="roccCode"/>
      <optional>
        <ref name="translation"/>
      </optional>
      <ref name="scannedCopy"/>
      <ref name="creation"/>
      <ref name="publishing"/>
      <ref name="contentDescription"/>
      <zeroOrMore>
        <ref name="formatDescription"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="imagesOfPages">
    <element name="imagesOfPages">
      <oneOrMore>
        <ref name="onePageImage"/>
      </oneOrMore>
    </element>
  </define>
  <define name="segmentationOfImages">
    <element name="segmentationOfImages">
      <optional>
        <ref name="graphicalObjectFrontispiece"/>
      </optional>
      <oneOrMore>
        <ref name="pageSegmentation"/>
      </oneOrMore>
    </element>
  </define>
  <define name="textsOfPages">
    <element name="textsOfPages">
      <attribute name="integralTranscribedTextFile">
        <data type="anyURI"/>
      </attribute>
      <oneOrMore>
        <ref name="textPage"/>
      </oneOrMore>
    </element>
  </define>
  <define name="textPage">
    <element name="textPage">
      <attribute name="pageID"/>
      <optional>
        <attribute name="textPageFile"/>
      </optional>
      <optional>
        <attribute name="beginningOfPage"/>
      </optional>
      <optional>
        <attribute name="endOfPage"/>
      </optional>
    </element>
  </define>
  <define name="letterAlignmentsImage2Text">
    <element name="letterAlignmentsImage2Text">
      <oneOrMore>
        <ref name="letterOnePageAlignments"/>
      </oneOrMore>
    </element>
  </define>
  <define name="seqAlignmentsImage2Text">
    <element name="seqAlignmentsImage2Text">
      <oneOrMore>
        <ref name="sequenceOnePageAlignments"/>
      </oneOrMore>
    </element>
  </define>
  <define name="roccCodeZone">
    <rnc:documentation>Represents the zone of the origin of the document.
The value can any combination of the following:
MD = Moldavia
W  = Wallachia
T  = Transylvania
MM = Maramureș
BT = Banat
BS = Bessarabia (for dates between 1812 - 1899)</rnc:documentation>
    <list>
      <oneOrMore>
        <choice>
          <value>MD</value>
          <value>W</value>
          <value>T</value>
          <value>MM</value>
          <value>BT</value>
          <value>BS</value>
        </choice>
      </oneOrMore>
    </list>
  </define>
  <define name="roccCode">
    <element name="ROCC-code">
      <attribute name="difficultyLevel">
        <choice>
          <value>1</value>
          <value>2</value>
          <value>3</value>
        </choice>
      </attribute>
      <attribute name="writingType">
        <rnc:documentation>Denotes the type of writing of the page collection.
Values for writingType attribute are:
- p  = print;
- u  = uncial;
- su = semiuncial;
- m  = manuscript.</rnc:documentation>
        <choice>
          <value>p</value>
          <value>u</value>
          <value>su</value>
          <value>m</value>
        </choice>
      </attribute>
      <attribute name="annotationLevel">
        <rnc:documentation>Denotes the annotation of the page collection.
Values for annotationLevel attribute are:
- o = original, unannotated;
- g = gold - annotated fully or partially by experts;
- t = test - annotated by the application;
- m = mixt - annotated by both experts and applications.</rnc:documentation>
        <choice>
          <value>o</value>
          <value>g</value>
          <value>t</value>
          <value>m</value>
        </choice>
      </attribute>
      <attribute name="century">
        <choice>
          <value>XVI</value>
          <value>XVII</value>
          <value>XVIII</value>
          <value>XIX</value>
        </choice>
      </attribute>
      <attribute name="fiftyYears">
        <choice>
          <value>1</value>
          <value>2</value>
        </choice>
      </attribute>
      <attribute name="printingYear">
        <data type="integer"/>
      </attribute>
      <attribute name="zone">
        <ref name="roccCodeZone"/>
      </attribute>
    </element>
  </define>
  <define name="translation">
    <element name="translation">
      <attribute name="originalAuthor"/>
      <attribute name="originalLanguage"/>
      <attribute name="secTranslator"/>
      <attribute name="translator"/>
    </element>
  </define>
  <define name="scannedCopy">
    <element name="scannedCopy">
      <attribute name="library"/>
      <attribute name="libraryCode"/>
    </element>
  </define>
  <define name="creation">
    <element name="creation">
      <attribute name="creationYear"/>
      <optional>
        <ref name="author"/>
      </optional>
      <zeroOrMore>
        <ref name="secondaryAuthor"/>
      </zeroOrMore>
      <optional>
        <ref name="creationLocation"/>
      </optional>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="surname"/>
      </optional>
      <optional>
        <attribute name="content"/>
      </optional>
      <optional>
        <element name="addToName">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="bio">
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="secondaryAuthor">
    <element name="secAuthor">
      <attribute name="id"/>
      <optional>
        <attribute name="name"/>
      </optional>
      <optional>
        <attribute name="surname"/>
      </optional>
      <optional>
        <attribute name="authority"/>
      </optional>
      <optional>
        <element name="addToName">
          <attribute name="id"/>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="bio">
          <attribute name="id"/>
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="creationLocation">
    <element name="creationLocation">
      <attribute name="creationProvince">
        <choice>
          <value>Moldova</value>
          <value>Țara Românească</value>
          <value>Transilvania</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="creationTown"/>
      </optional>
    </element>
  </define>
  <define name="publishing">
    <element name="publishing">
      <attribute name="publishingYear">
        <data type="integer"/>
      </attribute>
      <attribute name="publisher"/>
      <attribute name="noOfPagesOrSheets">
        <data type="integer"/>
      </attribute>
      <attribute name="pageOrSheet">
        <choice>
          <value>page</value>
          <value>sheet</value>
        </choice>
      </attribute>
      <element name="dimensions">
        <attribute name="units">
          <choice>
            <value>mm</value>
            <value>cm</value>
          </choice>
        </attribute>
        <attribute name="width">
          <data type="decimal"/>
        </attribute>
        <attribute name="height">
          <data type="decimal"/>
        </attribute>
      </element>
      <optional>
        <ref name="publishingLocation"/>
      </optional>
    </element>
  </define>
  <define name="publishingLocation">
    <element name="publishingLocation">
      <attribute name="publishingProvince">
        <choice>
          <value>Moldova</value>
          <value>Țara Românească</value>
          <value>Basarabia</value>
          <value>Transilvania</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="publishingTown"/>
      </optional>
      <optional>
        <element name="publishingHouse">
          <attribute name="id"/>
          <text/>
        </element>
      </optional>
      <optional>
        <element name="publishingCountry">
          <attribute name="id"/>
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="contentDescription">
    <element name="contentDescription">
      <attribute name="style"/>
      <optional>
        <element name="subject">
          <text/>
        </element>
      </optional>
    </element>
  </define>
  <define name="formatDescription">
    <element name="formatDescription">
      <element name="content">
        <attribute name="id"/>
        <text/>
      </element>
    </element>
  </define>
  <define name="onePageImage">
    <element name="onePageImage">
      <attribute name="pageID"/>
      <attribute name="pageName"/>
      <attribute name="pageImageFile">
        <data type="anyURI"/>
      </attribute>
      <ref name="difficultyCriteria"/>
    </element>
  </define>
  <define name="difficultyCriteria">
    <element name="difficultyCriteria">
      <attribute name="damaged">
        <data type="boolean"/>
      </attribute>
      <attribute name="opaqueSpots">
        <data type="boolean"/>
      </attribute>
      <attribute name="transparentPaper">
        <data type="boolean"/>
      </attribute>
      <optional>
        <attribute name="overlayPrint">
          <data type="boolean"/>
        </attribute>
      </optional>
      <attribute name="interlineWriting">
        <data type="boolean"/>
      </attribute>
      <attribute name="palimpsest">
        <data type="boolean"/>
      </attribute>
      <attribute name="corrections">
        <choice>
          <value>none</value>
          <value>few</value>
          <value>many</value>
        </choice>
      </attribute>
      <attribute name="marginalWriting">
        <choice>
          <value>none</value>
          <value>few</value>
          <value>many</value>
        </choice>
      </attribute>
    </element>
  </define>
  <define name="graphicalObjectFrontispiece">
    <element name="graphicalObjectFrontispiece">
      <attribute name="objectAnnotator"/>
      <attribute name="objectId"/>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="pageSegmentation">
    <element name="pageSegmentation">
      <attribute name="pageID"/>
      <zeroOrMore>
        <interleave>
          <ref name="title"/>
          <ref name="column"/>
          <ref name="line"/>
          <ref name="letter"/>
          <ref name="marginalRemark"/>
          <ref name="outOfLineLetter"/>
          <ref name="modifier"/>
          <ref name="initialLetter"/>
          <ref name="referenceMarkOnMargin"/>
          <ref name="referenceMarkAboveLine"/>
          <ref name="accolade"/>
          <ref name="ornament"/>
          <ref name="frame"/>
        </interleave>
      </zeroOrMore>
    </element>
  </define>
  <define name="title">
    <element name="objectTitle">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="column">
    <element name="objectColumn">
      <attribute name="columnPosition">
        <choice>
          <value>U</value>
          <value>L</value>
          <value>R</value>
        </choice>
      </attribute>
      <attribute name="objectAnnotator"/>
      <attribute name="objectId"/>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="line">
    <element name="objectLine">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <attribute name="inColumn">
        <choice>
          <value>header</value>
          <value>footer</value>
          <value>ordinary</value>
        </choice>
      </attribute>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="letter">
    <element name="objectLetter">
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <attribute name="objectId"/>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="marginalRemark">
    <element name="objectMarginal">
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <attribute name="objectId"/>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="outOfLineLetter">
    <element name="objectOutOfLineLetters">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="modifier">
    <element name="objectModifier">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="initialLetter">
    <element name="objectInitialLetter">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="referenceMarkOnMargin">
    <element name="objectReferenceMarkOnMargin">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="referenceMarkAboveLine">
    <element name="objectReferenceMarkAboveLine">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <optional>
        <attribute name="objectContent"/>
      </optional>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="accolade">
    <element name="graphicalObjectAccolade">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <ref name="accoladeCoordinates"/>
    </element>
  </define>
  <define name="ornament">
    <element name="graphicalObjectOrnament">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <ref name="objectCoordinates"/>
    </element>
  </define>
  <define name="frame">
    <element name="graphicalObjectFrame">
      <attribute name="objectId"/>
      <attribute name="objectAnnotator"/>
      <ref name="frameCoordinates"/>
    </element>
  </define>
  <define name="objectCoordinates">
    <element name="objectCoordinates">
      <attribute name="leftUpHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="leftUpVert">
        <data type="decimal"/>
      </attribute>
      <attribute name="rightDownHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="rightDownVert">
        <data type="decimal"/>
      </attribute>
    </element>
  </define>
  <define name="accoladeCoordinates">
    <element name="objectCoordinates">
      <attribute name="leftUpHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="leftUpVert">
        <data type="decimal"/>
      </attribute>
      <attribute name="rightDownHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="rightDownVert">
        <data type="decimal"/>
      </attribute>
      <attribute name="direction">
        <choice>
          <value>right</value>
          <value>left</value>
        </choice>
      </attribute>
      <attribute name="horizCoordOfPeak">
        <data type="decimal"/>
      </attribute>
      <attribute name="vertCoordOfPeak">
        <data type="decimal"/>
      </attribute>
    </element>
  </define>
  <define name="frameCoordinates">
    <element name="objectCoordinates">
      <attribute name="extFrameLeftUpHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="extFrameLeftUpVert">
        <data type="decimal"/>
      </attribute>
      <attribute name="extFrameRightDownHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="extFrameRightDownVert">
        <data type="decimal"/>
      </attribute>
      <attribute name="intFrameLeftUpHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="intFrameLeftUpVert">
        <data type="decimal"/>
      </attribute>
      <attribute name="intFrameRightDownHoriz">
        <data type="decimal"/>
      </attribute>
      <attribute name="intFrameRightDownVert">
        <data type="decimal"/>
      </attribute>
    </element>
  </define>
  <define name="letterOnePageAlignments">
    <element name="onePageAlignments">
      <attribute name="pageID"/>
      <element name="letterAlignment">
        <attribute name="characterOffset">
          <data type="integer"/>
        </attribute>
        <attribute name="goldTestAligment">
          <choice>
            <value>test</value>
            <value>gold</value>
          </choice>
        </attribute>
        <attribute name="length">
          <data type="integer"/>
        </attribute>
        <attribute name="letterId"/>
      </element>
    </element>
  </define>
  <define name="sequenceOnePageAlignments">
    <element name="onePageAlignments">
      <attribute name="pageID"/>
      <element name="seqAlignment">
        <attribute name="goldTestAligment">
          <choice>
            <value>test</value>
            <value>gold</value>
          </choice>
        </attribute>
        <attribute name="seqCharLength">
          <data type="integer"/>
        </attribute>
        <attribute name="seqCharOffset">
          <data type="integer"/>
        </attribute>
        <attribute name="seqLetterIds"/>
        <attribute name="seqLetterLength">
          <data type="integer"/>
        </attribute>
      </element>
    </element>
  </define>
</grammar>
