standard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ROCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pageCollection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pageCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pageCollectionMetadata"/>
        <xs:element ref="imagesOfPages"/>
        <xs:element ref="manualSegmentationOfImages"/>
        <xs:element ref="automaticSegmentationOfImages"/>
        <xs:element ref="textsOfPages"/>
        <xs:element ref="alignmentsImage2Text"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pageCollectionMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ROCC-code"/>
        <xs:element ref="translation"/>
        <xs:element ref="scannedCopy"/>
        <xs:element ref="creation"/>
        <xs:element ref="publishing"/>
        <xs:element ref="description"/>
      </xs:sequence>
      <xs:attribute name="distribution" use="required"/>
      <xs:attribute name="language" use="required"/>
      <xs:attribute name="metadataCreator" use="required"/>
      <xs:attribute name="rocc_id" use="required"/>
      <xs:attribute name="shortTitle" use="required"/>
      <xs:attribute name="title" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ROCC-code">
    <xs:complexType>
      <xs:attribute name="annotationLevel" use="required"/>
      <xs:attribute name="century" use="required"/>
      <xs:attribute name="difficultyLevel" use="required"/>
      <xs:attribute name="fiftyYears" use="required"/>
      <xs:attribute name="printingYear" use="required"/>
      <xs:attribute name="writingType" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="Manuscript"/>
	    <xs:enumeration value="Uncial" />
	    <xs:enumeration value="Print" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="zone" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="translation">
    <xs:complexType>
      <xs:attribute name="originalAuthor" use="required"/>
      <xs:attribute name="originalLanguage" use="required"/>
      <xs:attribute name="secTranslator" use="required"/>
      <xs:attribute name="translator" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="scannedCopy">
    <xs:complexType>
      <xs:attribute name="library" use="required"/>
      <xs:attribute name="libraryCode" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="creation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="creationLocation"/>
      </xs:sequence>
      <xs:attribute name="author" use="required"/>
      <xs:attribute name="creationYear" use="required"/>
      <xs:attribute name="secAuthors" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="creationLocation">
    <xs:complexType>
      <xs:attribute name="creationProvince" use="required"/>
      <xs:attribute name="creationTown" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publishing">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="publishingLocation"/>
        <xs:element ref="publishingYear"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="publishingLocation">
    <xs:complexType>
      <xs:attribute name="publishingCountry" use="required"/>
      <xs:attribute name="publishingHouse" use="required"/>
      <xs:attribute name="publishingProvince" use="required"/>
      <xs:attribute name="publishingTown" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publishingYear">
    <xs:complexType/>
  </xs:element>
  <xs:element name="description">
    <xs:complexType>
      <xs:attribute name="style" use="required"/>
      <xs:attribute name="subject" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="imagesOfPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="onePageImage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onePageImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="difficultyCriteria"/>
      </xs:sequence>
      <xs:attribute name="pageID" use="required" type="xs:integer"/>
      <xs:attribute name="pageImageFile" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="difficultyCriteria">
    <xs:complexType>
      <xs:attribute name="corrections" use="required"/>
      <xs:attribute name="damaged" use="required"/>
      <xs:attribute name="interlineWriting" use="required"/>
      <xs:attribute name="marginalWriting" use="required"/>
      <xs:attribute name="opaqueSpots" use="required"/>
      <xs:attribute name="overlayPrint" use="required"/>
      <xs:attribute name="palimpsest" use="required"/>
      <xs:attribute name="transparentPaper" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="manualSegmentationOfImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="graphicalObjectFrontispiece"/>
        <xs:element ref="pageSegmentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="automaticSegmentationOfImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="graphicalObjectFrontispiece"/>
        <xs:element ref="pageSegmentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="textsOfPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="textPage"/>
      </xs:sequence>
      <xs:attribute name="integralTrinscribedTextFile" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="textPage">
    <xs:complexType>
      <xs:attribute name="endOfPage" use="required"/>
      <xs:attribute name="pageID" use="required"/>
      <xs:attribute name="textPageFile" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="alignmentsImage2Text">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="letter"/>
        <xs:element ref="sequance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="letter">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="onePageAlignments">
          <xs:attribute name="pageID" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sequance" type="onePageAlignments"/>
  <xs:element name="graphicalObjectFrontispiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="frontispieceId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pageSegmentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="objectTitle"/>
        <xs:choice>
          <xs:element ref="objectColumns"/>
          <xs:sequence>
            <xs:element ref="objectLine"/>
            <xs:element ref="objectLetter"/>
          </xs:sequence>
        </xs:choice>
        <xs:element ref="objectMarginal"/>
        <xs:element minOccurs="0" ref="objectoutOfLineLetter"/>
        <xs:element ref="objectModifier"/>
        <xs:element ref="objectInitialLetter"/>
        <xs:element ref="objectReferenceMarkOnMargin"/>
        <xs:element ref="objectReferenceMarkAboveLine"/>
        <xs:element ref="graphicalObjectAccolade"/>
        <xs:element ref="graphicalObjectOrnament"/>
        <xs:element ref="graphicalObjectFrame"/>
      </xs:sequence>
      <xs:attribute name="pageID" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="objectContent"/>
      <xs:attribute name="titlelId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="objectColumnCoordinates"/>
        <xs:element ref="objectColumn"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectColumnCoordinates">
    <xs:complexType>
      <xs:attribute name="leftUpHoriz" use="required"/>
      <xs:attribute name="leftUpVert" use="required"/>
      <xs:attribute name="rightDownHoriz" use="required"/>
      <xs:attribute name="rightDownVert" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="objectLines"/>
      </xs:sequence>
      <xs:attribute name="columnId" use="required"/>
      <xs:attribute name="columnPosition" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="objectLine"/>
        <xs:element ref="objectoutOfLineLetter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectMarginal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="marginalId"/>
      <xs:attribute name="objectContent"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectModifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="modifierId"/>
      <xs:attribute name="objectContent"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectInitialLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="initialLetterId"/>
      <xs:attribute name="objectContent"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectReferenceMarkOnMargin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="objectContent"/>
      <xs:attribute name="referenceMarkOnMarginId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectReferenceMarkAboveLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="objectContent"/>
      <xs:attribute name="referenceMarkAboveLineId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="graphicalObjectAccolade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="accoladeId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="graphicalObjectOrnament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="ornamentId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="graphicalObjectFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="frameId"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="onePageAlignments">
    <xs:sequence>
      <xs:element ref="onePageAlignments"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="onePageAlignments">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="aalignment"/>
        <xs:element ref="alignment"/>
      </xs:choice>
      <xs:attribute name="pageID" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="aalignment">
    <xs:complexType>
      <xs:attribute name="goldTestAligment" use="required"/>
      <xs:attribute name="seqCharLength" use="required"/>
      <xs:attribute name="seqCharOffset" use="required"/>
      <xs:attribute name="seqLetterId" use="required"/>
      <xs:attribute name="seqLetterLength" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="alignment">
    <xs:complexType>
      <xs:attribute name="characterOffset" use="required"/>
      <xs:attribute name="goldTestAligment" use="required"/>
      <xs:attribute name="length" use="required"/>
      <xs:attribute name="letterId" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectCoordinates">
    <xs:complexType>
      <xs:attribute name="direction"/>
      <xs:attribute name="extFrameLeftUpHoriz"/>
      <xs:attribute name="extFrameLeftUpVert"/>
      <xs:attribute name="extFrameRightDownHoriz"/>
      <xs:attribute name="extFrameRightDownVert"/>
      <xs:attribute name="horizCoordOfPeak"/>
      <xs:attribute name="intFrameLeftUpHoriz"/>
      <xs:attribute name="intFrameLeftUpVert"/>
      <xs:attribute name="intFrameRightDownHoriz"/>
      <xs:attribute name="intFrameRightDownVert"/>
      <xs:attribute name="leftUpHoriz"/>
      <xs:attribute name="leftUpVert"/>
      <xs:attribute name="rightDownHoriz"/>
      <xs:attribute name="rightDownVert"/>
      <xs:attribute name="vertCoordOfPeak"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectLine">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="objectLineCoordinates"/>
        <xs:element ref="objectLetters"/>
      </xs:sequence>
      <xs:attribute name="id"/>
      <xs:attribute name="inColumn"/>
      <xs:attribute name="objectContent"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectLineCoordinates">
    <xs:complexType>
      <xs:attribute name="leftUpHoriz" use="required"/>
      <xs:attribute name="leftUpVert" use="required"/>
      <xs:attribute name="rightDownHoriz" use="required"/>
      <xs:attribute name="rightDownVert" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectLetters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="objectLetter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectoutOfLineLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectCoordinates"/>
      </xs:sequence>
      <xs:attribute name="objectContent"/>
      <xs:attribute name="outOfLineLetterId"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="objectLetterCoordinates"/>
      </xs:sequence>
      <xs:attribute name="letterId"/>
      <xs:attribute name="objectContent"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectLetterCoordinates">
    <xs:complexType>
      <xs:attribute name="leftUpHoriz" use="required"/>
      <xs:attribute name="leftUpVert" use="required"/>
      <xs:attribute name="rightDownHoriz" use="required"/>
      <xs:attribute name="rightDownVert" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
